<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<targets>
		<target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" fileName="${basedir}/logs/${level:uppercase}/${shortdate}.log" layout="${longdate} : ${message}" />
		</target>
	</targets>

	<rules>
		<!--TRACE,DEBUG,INFO,WARN,ERROR,FATAL-->
		<logger name="*" minlevel="Trace" writeTo="file" />
		<!--INFO,WARN,ERROR,FATAL-->
		<logger name="*" minlevel="Error" writeTo="file" />
		<!--DEBUG,INFO,WARN,ERROR,FATAL-->
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>